body {
  background-color: #0a0725;
  margin: 20px auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  font-weight: normal;
  font-size: 22px;
  color: whitesmoke;
}

.hero {
  text-align: center;
  margin: 40px auto;
  padding: 10px auto;
}

.hero h1 {
  font-size: 30px;
  line-height: 1;
  color: #c4e538;
}

.hero h2 {
  font-size: 22px;
  color: whitesmoke;
}

.hero h3 {
  font-size: 22px;
  color: whitesmoke;
}

h3 {
  font-size: 24px;
  color: #ee5a24;
}

h4 {
  font-size: 24px;
  color: whitesmoke;
}

h5 {
  font-weight: normal;
  font-size: 24px;
  color: #ee5a24;
}

.content {
  margin: 20px;
}

.content a {
  color: whitesmoke;
}

.section-projects {
  margin-left: 20px;
  padding: auto;
}

.section-projects p {
  color: black;
}

.section-projects h5 {
  color: #c4e538;
}

.section-projects .card {
  margin: 20px auto;
  padding: auto;
}

.button {
  background-color: #ee5a24;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  line-height: 27px;
  margin-left: 10px;
  padding: 15px 30px;
  text-decoration: none;
}

.btn {
  background-color: #ee5a24;
  color: whitesmoke;
  border-radius: 4px;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #ed4c67;
}

footer {
  font-size: smaller;
  color: whitesmoke;
}

section .social-links a {
  margin: 40px 20px;
  color: #c4e538;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

section .social-links a:hover {
  color: whitesmoke;
}

.navbar-toggler-icon {
  background-color: whitesmoke;
}
