body {
  background-color: #0a0725;
  margin: 5px auto;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: whitesmoke;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h1 {
  font-size: 30px;
  line-height: 1;
  color: #c4e538;
}

.hero h2 {
  font-size: 22px;
  color: whitesmoke;
}

.hero h3 {
  font-size: 22px;
  color: whitesmoke;
}

p {
  color: whitesmoke;
  font-size: 18px;
}

h3 {
  font-size: 24px;
  color: #ee5a24;
}

h4 {
  font-size: 24px;
  color: whitesmoke;
}

h5 {
  font-weight: normal;
  font-size: 24px;
  color: #ee5a24;
}

.content {
  margin: 20px;
}

.content a {
  color: whitesmoke;
}

.section-projects {
  margin-left: 20px;
  padding: auto;
}

.section-projects p {
  color: black;
}

.section-projects h5 {
  color: #c4e538;
}

.section-projects .card {
  margin: 10px auto;
  padding: auto;
}

.btn {
  background-color: #ee5a24;
  color: whitesmoke;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  color: #ed4c67;
}

footer {
  margin: 20px;
  font-size: smaller;
  color: whitesmoke;
}

section .social-links a {
  margin: 0 20px;
  color: #c4e538;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

section .social-links a:hover {
  color: whitesmoke;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }

  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
}
